.facultades {
    .main-index {
        h1 {
            color: rgb(29, 29, 117);
        }

        .carousel-inner {
            h5 {
                font-size: 50px;
                color: white;
                font-weight: 600;
            }

            a {
                text-decoration: none;
                color: white;
            }

            p {
                font-size: 34px;
                font-weight: 600;
                color: white;
            }
        }

        .becas {
            width: 950px;
            margin: auto;

            h2 {
                padding-top: 40px;
                padding-bottom: 10px;
            }

            .becas_principal {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                font-family: sans-serif;
                font-size: 24px;
                padding-bottom: 40px;
                justify-content: space-evenly;
            }

            .becas_video {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                text-align: left;
                font-family: sans-serif;
                padding-bottom: 40px;
                justify-content: space-between;

                p {
                    width: 400px;
                    padding-bottom: 20px;
                    padding-right: 20px;
                    font-size: 24px;
                }

                iframe {
                    border-radius: 20px;
                    width: 520px;
                }
            }

            .accordion {
                .accordion-header{
                    padding: 10px;
                }

                .accordion-button {
                    font-size: 26px;
                }

                .accordion-body {
                    font-size: 22px;

                    li:hover {
                        color: rgb(41, 172, 91);
                    }
                }
            }
        }

        .ciencias_nat {
            width: 950px;
            margin: auto;

            h2 {
                font-weight: bold;
                font-size: 28px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            p {
                font-size: 24px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .ciencias_soc {
            width: 950px;
            margin: auto;

            h2 {
                font-weight: bold;
                font-size: 28px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            p {
                font-size: 24px;
                padding-top: 10px;
                padding-bottom: 40px;
            }
        }

        .arquitectura {
            width: 950px;
            margin: auto;

            h2 {
                font-weight: bold;
                font-size: 28px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            p {
                font-size: 24px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}